{% include template_name+'/header.html' %} 
<section class="container-fluid section1 hidden-xs" id="section1">
    <div class="v-center no" style="height:20%;">
        <h1 class="text-center post">Join with TOURSANAK</h1>
        <h2 class="text-center lato animate slideInDown post">Happy<b>Smile</b>With Us</h2>
        <p class="text-center">
            <br>
            <div class="container">
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				</div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3"></div>
			</div>
        </p>
    </div>
</section>

<section class="container-fluid" id="section2">
    <div class="container ">
    	<div class="row border">
    		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 slide-padding">
    			<!--slide-->
    			<div id="example3" class="slider-pro">
					<div class="sp-slides">
						<div class="sp-slide">
							<img class="sp-image" src="../src/css/images/blank.gif" 
								data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg" 
								data-small="http://bqworks.com/slider-pro/images/image3_small.jpg"
								data-medium="http://bqworks.com/slider-pro/images/image3_medium.jpg"
								data-large="http://bqworks.com/slider-pro/images/image3_large.jpg"
								data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg"/>
						</div>
						<div class="sp-slide">
							<img class="sp-image" src="../src/css/images/blank.gif" 
								data-src="http://bqworks.com/slider-pro/images/image9_medium.jpg" 
								data-small="http://bqworks.com/slider-pro/images/image9_small.jpg"
								data-medium="http://bqworks.com/slider-pro/images/image9_medium.jpg"
								data-large="http://bqworks.com/slider-pro/images/image9_large.jpg"
								data-retina="http://bqworks.com/slider-pro/images/image9_large.jpg"/>
						</div>

						<div class="sp-slide">
							<img class="sp-image" src="../src/css/images/blank.gif" 
								data-src="http://bqworks.com/slider-pro/images/image10_medium.jpg" 
								data-small="http://bqworks.com/slider-pro/images/image10_small.jpg"
								data-medium="http://bqworks.com/slider-pro/images/image10_medium.jpg"
								data-large="http://bqworks.com/slider-pro/images/image10_large.jpg"
								data-retina="http://bqworks.com/slider-pro/images/image10_large.jpg"/>
						</div>
					</div>
			    </div>
    			<!--end slide-->
    		</div>
    		<div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
    			<h5 style="font-weight:200; padding-top:0px;">
    			<strong>
				CYCLING ADVENTURE TO COASTAL AREAS
				</strong>
    			</h5>
    			<p style="font-size:19px; font-weight:200;">
    				Discover the hidden beauty of Cambodia through cycling, Enjoy the nature, and explore the coastal regions 
    			</p>
    		</div>
    	</div>
        <center>
        	<h1 class="row-space-1">TOUR</h1>
        </center>
        <div class="row section-box1">
           	{%for post in posts_top%}
           	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-overlay no">
           		<a href="/{{post.slug}}">
	           		<div style='background: linear-gradient(rgba(10, 15, 6, 0.56), rgba(77, 81, 74, 0.08)), url("{{post.feature_image}}");background-size: cover;' class="bg-overlay-small" >

						<div class="row text-center">
					        <h4 class="title">
					        	<p class="myp">
					        		{{post.title}}
					        	</p>
					        </h4>
						</div>
					</div>
				</a>
           	</div>
           	{%endfor%}
           	
        </div>
        {%if posts_bottom.count()>0%}
        <center>
        	<h1 class="row-space-1">ACTIVITIES</h1>
        </center>
        {%endif%}
        <div class="row section-box1">
        	{%for post in posts_bottom %}
           	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-overlay no">
           		<a href="/{{post.slug}}">
	           		<div style='background: linear-gradient(rgba(10, 15, 6, 0.56), rgba(77, 81, 74, 0.08)), url("{{post.feature_image}}");background-size: cover;' class="bg-overlay-small">
						<div class="row text-center">
					        <h4 class="title">
					        	<p class="myp">
					        		{{post.title}}
					        	</p>
					        </h4>
						</div>
					</div>
				</a>
           	</div>
           	{%endfor%}
        </div>
    </div>
    <!--/container-->
</section>
<section class="container-fluid fluid1" id="section6">
<center>
<h1 class="row-space-1">OUR PARTNERS</h1>
</center>
{%for partner in partners%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-overlay post ">
	<a href="{{partner.url}}">
		<div class="bg-overlay-small" style='background: linear-gradient(rgba(10, 15, 6, 0.56), rgba(77, 81, 74, 0.08)), url("{{partner.feature_image}}"); background-size: cover;'>
			<div class="row text-center">
		        <h4 class="title">
		        	<p >
		        	{{partner.name}}
		        	</p>
		        </h4>
			</div>
		</div>
	</a>
</div>
{%endfor%}
</section>

{% include template_name+'/footer.html' %} 